fieldset.macos.desktop { background-size:cover; background-position:center; }
fieldset.macos.desktop>div.output>div.item { text-align:center; width:120px; float:left; overflow:hidden; }
fieldset.macos.desktop>div.output>div.item img { width:80px; }
fieldset.macos.desktop>div.output>fieldset.macos { background-color:transparent; }
fieldset.macos.desktop>div.output>fieldset.macos>div.output { background-color:transparent; }
fieldset.macos.desktop>div.output>fieldset.macos.menu { line-height:25px; height:25px; width:100%; position:absolute; top:0; }
fieldset.macos.desktop>div.output>fieldset.macos.controls { height:40%; width:240px; position:absolute; top:20px; right:0; }
fieldset.macos.desktop>div.output>fieldset.macos.notifications { height:80%; width:240px; position:absolute; top:10%; right:0; }
fieldset.macos.desktop>div.output>fieldset.macos.dock { border:#ffffff3d solid 1px; border-radius:20px; position:absolute; bottom:10px; left:300px; z-index:11; transition:margin-left 0.3s; }
fieldset.macos.desktop>div.output>fieldset.macos.dock:hover { margin-left:-40px; transition:margin-left 0.3s; }
fieldset.macos.desktop>div.output>div.desktop:not(.select) { display:none; }
fieldset.macos.desktop>div.output>div.desktop>fieldset { position:absolute; }
fieldset.macos.desktop>div.output>div.desktop>fieldset>div.item.button { border-radius:20px; height:20px; width:20px; scale:0.7; position:absolute; top:15px; right:10px; }
fieldset.macos.desktop>div.output>div.desktop.scale>fieldset { scale:0.6; }
fieldset.macos.desktop>div.output>div.desktop fieldset { border-radius:10px; }
fieldset.macos.desktop>div.output>div.desktop fieldset>legend { background-color:unset; padding-right:10px; margin:10px 0; }
fieldset.macos.desktop>div.output>div.desktop>fieldset>form.option>* { margin:10px 0; background-color:unset; }
fieldset.macos.desktop>div.output>div.desktop>fieldset>form.option>div.icon { margin-top:12px; margin-bottom:8px; }
fieldset.macos.desktop>div.output>div.desktop>fieldset>div.action>* { margin:10px 0; }
fieldset.macos.desktop>div.output>div.desktop fieldset>div.status { background-color:transparent; }
fieldset.macos.desktop>div.output>div.desktop fieldset fieldset>legend { margin:0; }
fieldset.macos.desktop>div.output>div.desktop fieldset fieldset>form.option>* { margin:0; background-color:unset; }
fieldset.macos.desktop>div.output>div.desktop fieldset fieldset>div.action>* { margin:0; }
fieldset.macos.desktop>div.output>div.desktop fieldset input { border-radius:5px; box-shadow:unset; }
fieldset.macos.desktop>div.output>div.desktop fieldset table.content th { background-color:unset; }
fieldset.macos.desktop>div.output>div.desktop fieldset table.content.action td:last-child { background-color:unset; }
fieldset.macos.menu>div.output img { margin-bottom:-8px; }
fieldset.macos.menu>div.output>div.item { padding:0 5px; float:right; cursor:pointer; }
fieldset.macos.menu>div.output>div.item img { height:25px; }
fieldset.macos.menu>div.output>div.icon { padding:0 5px; float:right; cursor:pointer; }
fieldset.macos.dock>div.output { height:80px; overflow:visible; display:flex; }
fieldset.macos.dock>div.output>div.item { text-align:center; align-self:baseline; transition:margin-top 0.3s; }
fieldset.macos.dock>div.output>div.item:hover { background-color:unset; margin-top:-80px; transition:margin-top 0.3s; }
fieldset.macos.dock>div.output>div.item img { width:80px; transition:width 0.3s; }
fieldset.macos.dock>div.output>div.item img:hover { width:160px; transition:width 0.3s; }
fieldset.macos.finder>div.output div.content>div.item { float:left; text-align:center; }
fieldset.macos.finder>div.output div.content>div.item img { width:84px; }
fieldset.macos.finder>div.output div.content>div.item div.name { text-align:center; }
div.carte.macos.float { font-size:14px; padding:10px; border:#ffffff5e solid 1px; border-radius:8px; }
div.carte.macos.float div.item { background:transparent; }
div.carte.macos.float hr { border-bottom:gray solid 1px; }
div.carte.macos.float { background:#e1e5ea; }
fieldset.macos.desktop fieldset>form.option>div.item.icons>span.icon { margin-left:5px; }

body.dark div.carte.macos.float { background:#29323beb; color:#e8eaed; }
fieldset.macos.desktop>div.output>fieldset.macos.dock { background-color:#e9f1f594; }
fieldset.macos.desktop>div.output>fieldset.macos.menu { background-color:#08234ad1; color:#e8eaed; }
fieldset.macos.desktop>div.output>fieldset.macos.controls { background-color:#08234ad1; }
fieldset.macos.desktop>div.output>fieldset.macos.notifications { background-color:#08234ad1; }
fieldset.macos.desktop>div.output>div.desktop fieldset { background-color:#dee1e6; }
fieldset.macos.desktop>div.output>div.desktop>fieldset>div.output { background-color:white; }
fieldset.macos.desktop>div.output>div.desktop fieldset>div.status { border-top:#dddede solid 1px; }
fieldset.macos.desktop>div.output>div.desktop fieldset table.content tr:nth-child(odd) { background-color:white; color:black; }
fieldset.macos.desktop>div.output>div.desktop fieldset table.content tr:nth-child(even) { background-color:#f4f5f5; color:black; }
fieldset.macos.desktop>div.output>div.desktop fieldset input { background-color:white; border:#e4e5e5 solid 1px; color:black; caret-color:black; }
fieldset.macos.desktop>div.output>div.desktop fieldset>div.output.card>div.item { border:#d3d4d4 solid 1px; }
fieldset.macos.desktop>div.output>div.desktop fieldset>div.output.card>div.item>div.title { border-bottom:#d3d4d4 solid 1px; }
body.dark fieldset.macos.desktop { color:#e8eaed; }
body.dark fieldset.macos.desktop input { color:#e8eaed; }
body.dark fieldset.macos.desktop input[type=button] { background-color:#5e5f5f; }
body.dark fieldset.macos.desktop>div.output { background-color:unset; }
body.dark fieldset.macos.desktop>div.output>fieldset.macos.dock { background-color:#0e202e70; }
body.dark fieldset.macos.desktop>div.output>fieldset.macos.menu { background-color:#08234ad1; color:#e8eaed; }
body.dark fieldset.macos.desktop>div.output>fieldset.macos.controls { background-color:#08234ad1; }
body.dark fieldset.macos.desktop>div.output>fieldset.macos.notifications { background-color:#08234ad1; }
body.dark fieldset.macos.desktop>div.output>div.desktop fieldset { background-color:#333434; }
body.dark fieldset.macos.desktop>div.output>div.desktop>fieldset>div.output { background-color:#1a1d1d; }
body.dark fieldset.macos.desktop>div.output>div.desktop fieldset>div.status { border-top:#3e4040 solid 1px; }
body.dark fieldset.macos.desktop>div.output>div.desktop fieldset table.content tr:nth-child(odd) { background-color:#1a1d1e; color:white; }
body.dark fieldset.macos.desktop>div.output>div.desktop fieldset table.content tr:nth-child(even) { background-color:#282B2F; color:white; }
body.dark fieldset.macos.desktop>div.output>div.desktop fieldset input { background-color:#333434; border:#404141 solid 1px; color:white; caret-color:white; }
body.dark fieldset.macos.desktop>div.output>div.desktop fieldset>div.output.card>div.item { border:#3e4040 solid 1px; }
body.dark fieldset.macos.desktop>div.output>div.desktop fieldset>div.output.card>div.item>div.title { border-bottom:#3e4040 solid 1px; }
body.light fieldset.macos.desktop>div.output { background-color:unset; }
body.black fieldset.macos.desktop>div.output>div.desktop fieldset { background-color:#3433337a; }
body.black fieldset.macos.desktop>div.output>div.desktop>fieldset>div.output { background-color:#1a1d1d9c; }
body.white fieldset.macos.desktop>div.output>div.desktop fieldset { background-color:#f5f5f594; }
body.white fieldset.macos.desktop>div.output>div.desktop fieldset>legend { color:black; }
body.white fieldset.macos.desktop>div.output>div.desktop>fieldset>div.output { background-color:#ffffff94; }
