<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=0.8,maximum-scale=0.8,user-scalable=no">
	<meta charset="utf-8"><title>volcanos</title>
	<link href="/index.css{{.Option "version"}}" rel="stylesheet">
	<link href="/page/cache.css{{.Option "version"}}" rel="stylesheet">
	<link href="/favicon.ico" rel="shortcut icon" type="image/ico">
</head>
<body>
	<script>_version = "{{.Option "version"}}"</script>
	<script src="/proto.js{{.Option "version"}}"></script>
	<script src="/page/cache.js{{.Option "version"}}"></script>
	<script>Volcanos({{.Option "list"}})</script>
</body>
