body.black {
	--body-bg-color:black; --body-fg-color:cyan;

	--legend-bg-color:#243783bd;
	--input-bg-color:#243783bd;
	--output-bg-color:transparent;
	--status-border:darkcyan solid 1px;

	--panel-output-bg-color:transparent;
   	--panel-output-fg-color:var(--body-fg-color);
	--plugin-bg-color:#061c3c9e;
	--plugin-border-color:lightgray;
   	--plugin-radius:10px;

	--hover-bg-color:#243783bd;
   	--hover-fg-color:white;

	--th-bg-color:steelblue;
}
body.black input { outline:none; }
body.black textarea { outline:none; }
body.black input.select, body.black input[type=text], body.black textarea { box-shadow:4px 4px 20px 4px #626bd0; }
