body.black {
	--body-bg-color:black;
	--body-fg-color:cyan;

	--legend-bg-color:#243783bd;
	--input-bg-color:#243783bd;
	--input-fg-color:var(--body-fg-color);
	--input-radius:5px;
	--input-border:blue solid 1px;
	--status-border:darkcyan solid 1px;
	--output-bg-color:transparent;

	--plugin-radius:10px;
	--plugin-bg-color:#061c3c9e;
	--panel-output-bg-color:transparent;
	--panel-output-fg-color:var(--body-fg-color);
	--panel-bg-color:var(--panel-output-bg-color);
	--panel-fg-color:var(--panel-output-fg-color);

	--float-bg-color:var(--plugin-bg-color);
	--carte-bg-color:var(--plugin-bg-color);
	--hover-bg-color:#243783bd;
	--hover-fg-color:white;

	--th-bg-color:steelblue;
	--tr-hover-bg-color:var(--plugin-bg-color);
	--td-hover-bg-color:var(--plugin-bg-color);
}
body.black input { outline:none; }
body.black textarea { outline:none; }
body.black input.select, body.black input[type=text], body.black textarea { box-shadow:4px 4px 20px 4px #626bd0; }
