body.dark { background-color:black; color:silver; }
body.dark legend { background-color:#212121; border-radius:5px; }
body.dark legend:hover { color:white }
body.dark input { background-color:#232526; color:silver; border-radius:5px; }
body.dark input:hover { color:white }
body.dark input:not([type=button]) { border-radius:0; }
body.dark input:not([type=button]):hover { border:blue solid 1px; }
body.dark input:not([type=button]):focus { border:blue solid 1px; outline:none; }
body.dark textarea { background-color:#232526; color:silver; }
body.dark table.content tr:hover { background-color:black; color:white; }
body.dark table.content th { background-color:black; }
body.dark table.content td:hover { background-color:black; }
body.dark table.content td.select { background-color:black; }
body.dark table.content.action td:last-child { background-color:black; }
body.dark tr.line:hover { background-color:black; }
body.dark tr.line.select { background-color:black; }
body.dark h1:hover { background-color:black; color:white; }
body.dark h2:hover { background-color:black; color:white; }
body.dark h3:hover { background-color:black; color:white; }
body.dark div.item:hover { background-color:#232526; color:white; }
body.dark div.item.select { background-color:#232526; color:white; }
body.dark span.item:hover { background-color:black; color:white; }
body.dark span.item.select { background-color:black; color:white; }
body.dark div.action div.tabs:hover { background-color:#232526; color:white; }
body.dark div.action div.tabs.select { background-color:#232526; color:white; }
body.dark div.output { background-color:#232526; }
body.dark fieldset>div.status { border-top:gray solid 1px }
body.dark fieldset:not(.panel) { background-color:black; border-radius:10px; }
body.dark fieldset.panel:not(.main) { background-color:black; }
body.dark fieldset.panel:not(.main)>div.output { background-color:black; }
body.dark fieldset.input div.output { background-color:black; }
body.dark fieldset.input tr:hover { background-color:#232526; }
body.dark fieldset.input td:hover { background-color:#232526; }
body.dark div.float { background-color:black; }
body.dark div.carte div.item { background-color:black; }
body.dark div.carte div.item:hover { background-color:#232526; }
body.dark div.zone>div.item { background-color:black; }
body.dark div.zone>div.list>div.zone>div.item { background-color:black; }
body.dark div.tabs div { background-color:black }
body.dark div.tabs div:hover { background-color:#232526; color:white }
body.dark div.tabs div.select { background-color:#232526; color:white }
body.dark div.plug legend { background-color:#232526 }
body.dark div.plug legend.select { background-color:black; }
body.dark div.complete>table { background-color:black; }
