body.light  { color:black }
body.light legend { background-color:white;color:black;border-radius:5px;outline:none;box-shadow:none;background-color:lightsteelblue }
body.light legend:hover { color:black }
body.light select { background-color:white;color:black;border-radius:5px;outline:none;box-shadow:none }
body.light select:hover { color:black }
body.light input { background-color:white;color:black;border-radius:5px;outline:none;box-shadow:none }
body.light input:hover { color:black }
body.light input:not([type=button]) { border-radius:0 }
body.light input:not([type=button]):hover { border:blue solid 1px }
body.light input:not([type=button]):focus { border:blue solid 1px }
body.light input.select:focus { border:blue solid 1px }
body.light input.select:hover { border:blue solid 1px }
body.light textarea:focus { border:blue solid 1px }
body.light textarea:hover { border:blue solid 1px }
body.light textarea { background-color:white;color:black;border-radius:5px;outline:none;box-shadow:none }
body.light textarea { border-radius:0 }
body.light form.option div.item.select { background-color:transparent }
body.light form.option div.item:hover { background-color:transparent }
body.light div.output { background-color:white }
body.light div.status { background-color:aliceblue;color:black }
body.light div.item.select { background-color:aliceblue;color:black }
body.light div.item:hover { background-color:aliceblue;color:black }
body.light span.item.select { background-color:aliceblue;color:black }
body.light span.item:hover { background-color:aliceblue;color:black }
body.light div.tabs div { background-color:aliceblue }
body.light div.tabs div:hover { background-color:white; color:black }
body.light div.tabs div.select { background-color:white; color:black }
body.light div.action div.tabs:hover { background-color:white; color:black }
body.light div.action div.tabs.select { background-color:white; color:black }
body.light div.path span:hover { background-color:aliceblue;color:black }
body.light div.plug legend { background-color:white }
body.light div.plug legend.select { background-color:aliceblue;border-radius:10px }
body.light div.zone>div.item { background-color:aliceblue;color:black }
body.light div.zone>div.item:hover { background-color:aliceblue;color:black }
body.light div.zone>div.list>div.zone>div.item { background-color:aliceblue;color:black }
body.light div.zone>div.list>div.zone>div.item:hover { background-color:aliceblue;color:black }
body.light div.zone div.item>div.name:hover { color:black }
body.light tr.line.select { background-color:aliceblue; }
body.light tr.line:hover { background-color:aliceblue; }
body.light tr.line>td.line { background-color:white }
body.light tr.line.select>td.line { background-color:aliceblue; }
body.light div.complete>table { background-color:aliceblue;color:black }
body.light table.content tr:hover { color:black;background-color:aliceblue }
body.light table.content th { background-color:aliceblue;color:black }
body.light table.content.action td:last-child { background-color:aliceblue;color:black }
body.light table.content td.select { background-color:white }
body.light table.content td:hover { background-color:white }
body.light h1:hover { background-color:aliceblue;color:black }
body.light h2:hover { background-color:aliceblue;color:black }
body.light h3:hover { background-color:aliceblue;color:black }
body.light a { color:blue }
body.light label { color:black }
body.light fieldset.panel { background-color:white;color:black }
body.light fieldset.panel>div.output { background-color:white;color:black }
body.light fieldset.panel.Action div.output { background-color:white; }
body.light fieldset.plugin { background-color:aliceblue;border-radius:10px; }
body.light fieldset.plugin >div.status { border-top:transparent solid 1px }
body.light fieldset.story { background-color:aliceblue;border-radius:10px; }
body.light fieldset.story >div.status { border-top:transparent solid 1px }
body.light fieldset.input { background-color:aliceblue;border-radius:10px }body.light fieldset.input div.output { background-color:aliceblue;border-radius:10px }
body.light fieldset.input { border-radius:0 }
body.light fieldset.input td.select { background-color:white }
body.light fieldset.input td:hover { background-color:aliceblue }
body.light fieldset.input tr:hover { background-color:white }
body.light fieldset.float { background-color:aliceblue;border-radius:10px }
body.light div.float { background-color:aliceblue;border-radius:10px }
body.light div.carte div.item { background-color:aliceblue;color:black; }
body.light div.carte div.item:hover { background-color:white;color:black }