body.light {
	--body-bg-color:#4a566e;
	--body-fg-color:black;

	--legend-bg-color:lightsteelblue;
	--input-bg-color:white;
	--input-fg-color:var(--body-fg-color);
	--input-radius:5px;
	--input-border:blue solid 1px;
	--output-bg-color:var(--input-bg-color);
	--status-border:transparent solid 1px;

	--plugin-radius:10px;
	--plugin-bg-color:aliceblue;
	--plugin-fg-color:var(--body-fg-color);
	--panel-output-bg-color:var(--body-bg-color);
	--panel-output-fg-color:#d0d3da;
	--panel-input-bg-color:#6b7488;
	--panel-input-fg-color:white;
	--panel-hover-bg-color:#2b3446;
	--panel-hover-fg-color:white;
	--panel-bg-color:var(--panel-output-bg-color);
	--panel-fg-color:var(--panel-output-fg-color);

	--float-fg-color:var(--plugin-fg-color);
	--float-bg-color:var(--plugin-bg-color);
	--carte-bg-color:var(--plugin-bg-color);
	--hover-bg-color:var(--input-bg-color);
	--hover-fg-color:var(--input-fg-color);

	--th-fg-color:black;
	--th-bg-color:var(--plugin-bg-color);
	--td-hover-bg-color:var(--plugin-bg-color);
	--tr-hover-bg-color:var(--plugin-bg-color);
}
