body.white {
	--body-bg-color:white;
	--body-fg-color:black;

	--legend-bg-color:#ffffffc2;
	--input-bg-color:#ffffff7d;

	--plugin-bg-color:#ffffffa1;
	--panel-output-fg-color:silver;
	--panel-input-bg-color:unset;
	--panel-input-fg-color:unset;
	--panel-hover-bg-color:#243783bd;

	--hover-bg-color:white;
	--hover-fg-color:black;
	--th-bg-color:skyblue;
}
body.white fieldset.panel.River:not(.main):not(.auto) div.item:hover { background-color:var(--panel-hover-bg-color); }
body.white fieldset.panel.River:not(.main):not(.auto) div.item.select { background-color:var(--panel-hover-bg-color); }
